.tableBox {
    width: 100%;
    overflow: scroll;

    .table {
        width: 925px;
        min-width: 100%;
        table-layout: fixed;
        text-align: center;
        border-collapse: collapse;

        .thead {
            width: 100%;
            height: 44px;
            line-height: 44px;
            font-size: 14px;

            .tr {
                background: #ededed;
                color: #666666;
                height: 44px;
                line-height: 44px;
                float: left;
            }

            .th {
                display: inline-block;
                background: #ededed !important;
                color: #666666 !important;
                font-weight: 500;
                width: 100px;
                height: 44px;
                line-height: 44px;
                padding: 0 20px;
                box-sizing: border-box;
                overflow: hidden;
            }
        }

        .tbody {
            width: 100%;
            background: #f7f7f7;
            font-size: 14px;

            .tr {
                height: 50px;
                float: left;
            }

            .td {
                display: inline-block;
                height: 50px;
                color: #666666;
                width: 100px;
                height: 44px;
                line-height: 44px;
                padding: 0 20px;
                box-sizing: border-box;
                overflow: hidden;
            }
        }
    }

    .sticky {
        position: sticky;
        left: 0px;
    }

    .fixedTd {
        width: 100px !important;
        color: #999;
        background: #f7f7f7;
        text-align: left;
        padding-left: 20px;
    }
}
